Classes/cloud cost n8n/AWS cost alert.json
{
  "name": "AWS cost alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -272,
        -2080
      ],
      "id": "26e40f51-3885-4019-930e-68c7ddd0cdc0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ce.us-east-1.amazonaws.com",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "aws",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-amz-json-1.1"
            },
            {
              "name": "X-Amz-Target",
              "value": "AWSInsightsIndexService.GetCostAndUsage"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"TimePeriod\": {\n    \"Start\": \"2025-02-01\",\n    \"End\": \"2025-02-28\"\n  },\n  \"Granularity\": \"MONTHLY\",\n  \"Metrics\": [\"UnblendedCost\"]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -48,
        -2080
      ],
      "id": "7c9b1365-9d7f-4a78-a2ca-9facabf43a72",
      "name": "HTTP Request",
      "credentials": {
        "aws": {
          "id": "6hGrn8Kxk6f7NgSD",
          "name": "AWS (IAM) account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.data }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"Total\": {\n    \"UnblendedCost\": {\n      \"Amount\": \"14.9999999979\",\n      \"Unit\": \"USD\"\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        176,
        -2080
      ],
      "id": "f4db0ae6-d259-4983-9b1b-d6687f8b7e18",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        248,
        -1856
      ],
      "id": "973114cc-9801-4040-a465-e1a69419d223",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "bNCXpRceK6pkt8wi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "muhammadhamzaali077@gmail.com",
        "toEmail": "muhammadhamzaali077@gmail.com",
        "subject": "={{ $json.output.subject }}",
        "emailFormat": "text",
        "text": "={{ $json.output.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1104,
        -2080
      ],
      "id": "8b83d70b-d00d-4a49-a510-3686cfccb652",
      "name": "Send email",
      "webhookId": "13b8c6f7-191b-4d7b-90ea-3209c9395616",
      "credentials": {
        "smtp": {
          "id": "qh01i7rziXcnnWjk",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write an alert message because the AWS monthly cost is {{ $('Information Extractor').item.json.output.Total.UnblendedCost.Amount }} USD and the alert threshold is $10 USD.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant that writes short alert messages.\n\nBased on the AWS cloud cost and threshold provided, write a clear and professional alert message.\n\nRules:\n- Include the AWS cost value\n- Include the threshold amount\n- Keep tone friendly & professional\n- add the subject\n- Keep length 2–4 sentences max\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        752,
        -2080
      ],
      "id": "7161a14a-e232-40e5-b02f-c5f87453560e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        760,
        -1856
      ],
      "id": "0a15951a-40a1-43dc-aa8b-a47ad76cefb4",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "D19JMyxemfD4u0UK",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"subject\": \"string\",\n\t\"body\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        888,
        -1856
      ],
      "id": "a4fd1825-b830-41d4-b896-62ab51fe9ff3",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "29794dd8-3e46-4c83-b3dd-05e44f547054",
              "leftValue": "={{ $json.output.Total.UnblendedCost.Amount.toNumber() }}\n",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        528,
        -2080
      ],
      "id": "65d16f63-9a7d-41e6-874b-2aeb68ea2012",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "versionId": "17432e1b-e45b-4be7-86ce-9f1421a4c3c4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "66c1c00119365f4b51998d0e65a2afa150969dd2eab5ff7b27c80740a0eb818c"
  },
  "id": "3bcKm6ybwmldcCZrQ8mXl",
  "tags": []
}