Classes/cloud cost n8n/chat base cost alert and general queries.json
{
  "name": "chat base cost alert and general queries",
  "nodes": [
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -3376,
        16
      ],
      "id": "8fe5411e-ad99-41cd-9a80-a080d11d9e1a",
      "name": "When chat message received",
      "webhookId": "b5954308-1239-4d6a-882a-f1fcce4088b8"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AWS assistant. \nYour job is to read a user message and decide whether the user is:\n\n1. Asking about AWS cloud costs for a date range\n   Example messages:\n   - \"What was my AWS cost in Feb 2024?\"\n   - \"Get AWS cost from Jan 3 to Jan 10\"\n   - \"Show AWS cost last month\"\n\n2. Asking a general AWS question\n   Example:\n   - \"What is AWS EC2?\"\n   - \"How does S3 work?\"\n   - write answer for this\n\nYour output MUST be ONLY valid JSON in this format:\n\n{\n  \"intent\": \"cost_query\" | \"general_question\",\n  \"start_date\": \"YYYY-MM-DD or null\",\n  \"end_date\": \"YYYY-MM-DD or null\",\n  \"question\": \"string\"\n  \"answer\" : \"string\"\n}\n\nRules:\n- If message is about AWS cost, set intent = \"cost_query\" and extract start and end dates.\n- If only a month is given, use:\n  start_date = first day of month\n  end_date = last day of month\n- If no dates are mentioned, set them to null.\n- For general AWS questions, set intent = \"general_question\" and write answer.\n- Never include explanation text. Only JSON.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -3152,
        16
      ],
      "id": "9daa6394-3903-4a8a-b10d-68b67759ee4f",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"intent\": \"cost_query\",\n  \"start_date\": \"2025-02-01\",\n  \"end_date\": \"2025-02-28\",\n  \"question\": \"Get AWS cost for February 2025\",\n  \"answer\" : \"string\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -3016,
        240
      ],
      "id": "a5a123dd-c2a4-40aa-9d67-dbaf840ae286",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -3144,
        240
      ],
      "id": "b2ee3a27-22b0-43f8-85dc-cbecdb806872",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "CvTewlIQSoWi0rVO",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "bdc14a7d-9505-4af4-9044-12e0afaf5bb1",
              "leftValue": "={{ $json.output.intent }}",
              "rightValue": "=cost_query",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2800,
        16
      ],
      "id": "d91c36e0-007e-498f-83eb-3ee4736ed3f9",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ce.us-east-1.amazonaws.com",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "aws",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-amz-json-1.1"
            },
            {
              "name": "X-Amz-Target",
              "value": "AWSInsightsIndexService.GetCostAndUsage"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"TimePeriod\": {\n    \"Start\": \"{{ $json.output.start_date }}\",\n    \"End\": \"{{ $json.output.end_date }}\"\n  },\n  \"Granularity\": \"MONTHLY\",\n  \"Metrics\": [\"UnblendedCost\"]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2576,
        -80
      ],
      "id": "ca3f2147-ab12-4464-b2fb-cd7f644adc3a",
      "name": "HTTP Request1",
      "credentials": {
        "aws": {
          "id": "6hGrn8Kxk6f7NgSD",
          "name": "AWS (IAM) account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "29794dd8-3e46-4c83-b3dd-05e44f547054",
              "leftValue": "={{ $json.output.Total.UnblendedCost.Amount.toNumber() }}\n",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2000,
        -80
      ],
      "id": "d698ec89-9c88-4e90-8cb1-b954bc98fdb0",
      "name": "If2"
    },
    {
      "parameters": {
        "text": "={{ $json.data }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"Total\": {\n    \"UnblendedCost\": {\n      \"Amount\": \"14.9999999979\",\n      \"Unit\": \"USD\"\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -2352,
        -80
      ],
      "id": "47fa3e3b-b6bc-417a-ad48-d3d1f52cdc42",
      "name": "Information Extractor1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2280,
        144
      ],
      "id": "56d1eb5f-2c5b-4a48-a9af-e5769657928f",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "CvTewlIQSoWi0rVO",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "muhammadhamzaali077@gmail.com",
        "toEmail": "muhammadhamzaali077@gmail.com",
        "subject": "={{ $json.output.subject }}",
        "emailFormat": "text",
        "text": "={{ $json.output.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -1424,
        -80
      ],
      "id": "b3faf814-f4cc-4f29-b171-89eeda772726",
      "name": "Send email1",
      "webhookId": "13b8c6f7-191b-4d7b-90ea-3209c9395616",
      "credentials": {
        "smtp": {
          "id": "qh01i7rziXcnnWjk",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write an alert message because the AWS monthly cost is {{ $('Information Extractor1').item.json.output.Total.UnblendedCost.Amount }} USD and the alert threshold is $10 USD.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant that writes short alert messages.\n\nBased on the AWS cloud cost and threshold provided, write a clear and professional alert message.\n\nRules:\n- Include the AWS cost value\n- Include the threshold amount\n- Keep tone friendly & professional\n- add the subject\n- Keep length 2–4 sentences max\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1776,
        -80
      ],
      "id": "ea9fdd8e-b9e8-45ca-9bc7-2565bccbc0c7",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1768,
        144
      ],
      "id": "67b4f849-3085-44a4-9800-8bf009180a50",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "CvTewlIQSoWi0rVO",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"subject\": \"string\",\n\t\"body\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1640,
        144
      ],
      "id": "ec0826d5-b044-46ca-851a-16ebb6a26b3b",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "message": "={{ $json.output.answer }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        -2576,
        112
      ],
      "id": "df75c722-5528-4cb7-9ca8-ec127173e26a",
      "name": "Respond to Chat"
    },
    {
      "parameters": {
        "message": "={{ $('AI Agent2').item.json.output.body }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        -1200,
        -80
      ],
      "id": "91007540-e039-4d64-b118-9563fba15f2b",
      "name": "Respond to Chat1"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Information Extractor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Information Extractor1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Send email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Send email1": {
      "main": [
        [
          {
            "node": "Respond to Chat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "98bf53a7-c0a8-4581-b9ec-250364af882c",
  "meta": {
    "instanceId": "66c1c00119365f4b51998d0e65a2afa150969dd2eab5ff7b27c80740a0eb818c"
  },
  "id": "0xgaUUIAfhphv7WMN-amx",
  "tags": []
}