muhammadhamzaali01709-workflows/muhammadhamzaali01709-workflows/jsb6wRysHm7ieUhj-CyberSecurity_Analyst.json
{
  "name": "CyberSecurity Analyst",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "a748589c-7d63-44ac-8be6-dd346bd859c6",
      "name": "Cybersecurity Analyst Chat",
      "webhookId": "d2d1f1e9-788e-4553-a1c3-79df5386792f"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a world-class Cybersecurity Analyst.\n\nYour single most important rule is to ALWAYS and ONLY respond with a valid JSON object that strictly follows the provided output schema.\n\nCRITICAL RULES:\n\nDO NOT write any text, greetings, apologies, or explanations outside of the JSON.\n\nYour response MUST be a single, raw, minified JSON object.\n\nDo not wrap the JSON in markdown ```json tags.\n\nUse your tools (like check_domain_security) to gather live data.\n\nAnalyze the data from your tools to fill in the analysis and threat_level fields.\n\nYour final output MUST validate against the schema."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "0665bf3f-b16d-4bed-aa3b-575adc72430c",
      "name": "AI Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        128,
        240
      ],
      "id": "4819baee-e183-4c96-99f4-7ef47d3f7e17",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "buln6fF16ejR3yIq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"level\": {\n      \"type\": \"string\",\n      \"enum\": [\"Low\", \"Medium\", \"High\", \"Critical\", \"Info\"]\n    },\n    \"type\": {\n      \"type\": \"string\",\n      \"enum\": [\"Domain\", \"IP\", \"Hash\", \"URL\", \"Query\"]\n    },\n    \"value\": {\n      \"type\": \"string\"\n    },\n    \"analysis\": {\n      \"type\": \"string\"\n    },\n    \"rec\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\"level\", \"type\", \"value\", \"analysis\", \"rec\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        384,
        240
      ],
      "id": "d4170086-fbc2-45d8-b3ee-252d5240826b",
      "name": "Structured Output Parser",
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://www.virustotal.com/api/v3/domains/{{ $json.domain }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "virusTotalApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        272,
        224
      ],
      "id": "4bafe028-0d11-4686-a59e-f20a8b780e62",
      "name": "Tool_check_domain",
      "credentials": {
        "virusTotalApi": {
          "id": "VKWvhMzDCaLCWbzg",
          "name": "VirusTotal account"
        }
      }
    },
    {
      "parameters": {
        "url": "Tool_check_domain",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        288,
        320
      ],
      "id": "1d9603d4-0d63-4570-ae21-8b6e55db6a9b",
      "name": "Tool_check_domain1"
    }
  ],
  "connections": {
    "Cybersecurity Analyst Chat": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Tool_check_domain1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}