muhammadhamzaali01709-workflows/muhammadhamzaali01709-workflows/k92jaINdzPptyVxv-Phishing_Detector.json
{
  "name": "Phishing Detector",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e32cdca7-e262-4d46-80cb-3fe5649265de",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nOide9PTpJFDhQUVPHv0qUqRdNXOe5vNU_XhBw-yo_Y",
          "mode": "list",
          "cachedResultName": "mock phishing data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nOide9PTpJFDhQUVPHv0qUqRdNXOe5vNU_XhBw-yo_Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1685626232,
          "mode": "list",
          "cachedResultName": "sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nOide9PTpJFDhQUVPHv0qUqRdNXOe5vNU_XhBw-yo_Y/edit#gid=1685626232"
        },
        "combineFilters": "OR",
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        0
      ],
      "id": "9130beb9-2ec7-4ccf-a3be-bcfc3135d2d1",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gRLcy84851WkSuPw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a security system.\nClassify the following email text as either \"Phishing\" or \"Legitimate\".\nAlso provide a confidence score between 0 and 100.\nalso provide the one line short reason for your decision.\n\nReply using ONLY this exact format:\n[Status] | [Score] | [Reason]\n\nExamples:\nPhishing | 95\nLegitimate | 80\nreason | due to link or text or any other\n\nEmail Text:\n{{ $json[\"Email Content\"] }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        896,
        0
      ],
      "id": "37e0fe21-317d-4257-86c5-49ebe8c3156d",
      "name": "Basic LLM Chain",
      "retryOnFail": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        904,
        224
      ],
      "id": "02e81950-5e00-44f6-a421-b38c60995d7f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "k5wmiVIByUTTmGHq",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1nOide9PTpJFDhQUVPHv0qUqRdNXOe5vNU_XhBw-yo_Y",
          "mode": "list",
          "cachedResultName": "phishing data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nOide9PTpJFDhQUVPHv0qUqRdNXOe5vNU_XhBw-yo_Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1685626232,
          "mode": "list",
          "cachedResultName": "sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nOide9PTpJFDhQUVPHv0qUqRdNXOe5vNU_XhBw-yo_Y/edit#gid=1685626232"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "AI Prediction": "={{ $json.output.status }}",
            "Confidence Score": "={{ $json.output.score }}",
            "Reason": "={{ $json.output.reason_for_status }}",
            "row_number": "={{ $('Replace Me').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Email Content",
              "displayName": "Email Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actual Label",
              "displayName": "Actual Label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Prediction",
              "displayName": "AI Prediction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Confidence Score",
              "displayName": "Confidence Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Match?",
              "displayName": "Match?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        0
      ],
      "id": "1537736f-9e6f-487d-b6a2-1766c63f28ff",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gRLcy84851WkSuPw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        0
      ],
      "id": "423fadfe-1fe0-4150-921e-f18d5278dfff",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "id": "702960a8-c77a-4177-8e01-c7617785c6f0"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"status\": \"string\",\n\t\"score\": \"0 - 100 %\",\n    \"reason_for_status\" : \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1056,
        224
      ],
      "id": "7be0db6b-8de7-4948-86e1-a3d8cf6cde97",
      "name": "Structured Output Parser"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}