muhammadhamzaali01709-workflows/muhammadhamzaali01709-workflows/LNqFOLJIw5RXCHuS-My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        336,
        256
      ],
      "id": "59c1cefd-68d2-41fc-923f-edc0c8264f53",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "buln6fF16ejR3yIq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to get a security report for a domain (like 'google.com').",
        "url": "=https://www.virustotal.com/api/v3/domains/{{ $('Input Summarizer').item.json.output.URL }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "virusTotalApi",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"domain\": {\n      \"type\": \"string\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        560,
        224
      ],
      "id": "b997dfea-b0da-4254-9fcb-32b9e29917cd",
      "name": "Tool_check_domain",
      "credentials": {
        "virusTotalApi": {
          "id": "VKWvhMzDCaLCWbzg",
          "name": "VirusTotal account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        448,
        176
      ],
      "id": "2af271a1-1a79-42fb-a7ed-d9ccf9791d0a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"properties\": {\n    \"threat_level\": \"string\",\n    \"analysis\": \"string\",\n    \"recommendation\": \"string\"\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        672,
        288
      ],
      "id": "6e94779e-8ec1-4b59-a1d0-22792896789e",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.ioc_to_check }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "[START PERSONA] You are \"Cy-An,\" a Tier 4 Expert Cybersecurity Analyst.\n\n[START MISSION] You will be given a single Indicator of Compromise (IOC).\n\nIDENTIFY: Identify its type (Domain, IP, Hash).\n\nSELECT TOOL: Use the correct tool to analyze it.\n\nRESPOND: Respond only with the 4-field JSON report."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        592,
        0
      ],
      "id": "b3b0c42b-c3cf-4f9f-b17e-dfb37c8597f6",
      "name": "Cyber Security Analyst"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1JE4TPIoITjTCloMdVr_hQgSjTGgRo1sisAuJdyr1ce8",
          "mode": "list",
          "cachedResultName": "cyber Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JE4TPIoITjTCloMdVr_hQgSjTGgRo1sisAuJdyr1ce8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JE4TPIoITjTCloMdVr_hQgSjTGgRo1sisAuJdyr1ce8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamps": "={{ $now }}",
            "Question": "={{ $('When chat message received').item.json.chatInput }}",
            "Domain": "={{ $('Input Summarizer').item.json.output.URL }}",
            "ThreatLevel": "={{ $json.output.properties.threat_level }}",
            "Analysis": "={{ $json.output.properties.analysis }}",
            "Recommendation": "={{ $json.output.properties.recommendation }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamps",
              "displayName": "Timestamps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Question",
              "displayName": "Question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Domain",
              "displayName": "Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ThreatLevel",
              "displayName": "ThreatLevel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Analysis",
              "displayName": "Analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recommendation",
              "displayName": "Recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        944,
        0
      ],
      "id": "a005b56b-0fc1-466d-9582-db08a6d16db5",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gRLcy84851WkSuPw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        48,
        192
      ],
      "id": "87d264d2-03e3-4407-8d53-e7d29dfa7781",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "k5wmiVIByUTTmGHq",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"URL\": \"google.com\",\n\t\"question_summary\": \"is it safe or not\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        256,
        144
      ],
      "id": "5a53620c-7ba6-422d-ba0b-5ff507920a47",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an assistant of an expert cyber security analyst your task is to extract url from user input and summarize remaining quaestion"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        272,
        0
      ],
      "id": "2779fa1e-2b95-4609-8b09-045bf1eb437c",
      "name": "Input Summarizer",
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {
          "allowFileUploads": true,
          "allowedFilesMimeTypes": "*",
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -448,
        -16
      ],
      "id": "d50273b6-1bb7-44d4-a117-774121eacae3",
      "name": "When chat message received",
      "webhookId": "c6db7762-2ad2-4f46-9172-c1673e223f76"
    }
  ],
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Cyber Security Analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool_check_domain": {
      "ai_tool": [
        [
          {
            "node": "Cyber Security Analyst",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Cyber Security Analyst",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Cyber Security Analyst",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Cyber Security Analyst": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Summarizer": {
      "main": [
        [
          {
            "node": "Cyber Security Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Input Summarizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Input Summarizer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Input Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": null
}