muhammadhamzaali01709-workflows/muhammadhamzaali01709-workflows/MBa2CFMbQKi70Idm-My_Sub_Workflow_1.json
{
  "name": "My Sub-Workflow 1",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert Cyber Analyst. Your job is to answer questions using the provided data sheet.\n\nif user is asking about to remove some row read the sheet and return the row number to remove\n\nFirst, you must ALWAYS use Tool_get_sheet_data to read the spreadsheet.\n\nNext, you have TWO possible missions. Read the user's query to decide:\n\nMission 1: Data Lookup (User asks 'what is', 'how much')\nIf the user asks a question about the data in the sheet (e.g., \"how much financial loss...\", \"what attack types...\"), you must:\n\nFind the answer in the sheet data.\n\nDO NOT use the VirusTotal tools.\n\nYou must still provide a JSON output. Fill it out like this:\n\ndomain: \"Data Query\"\n\nthreat_level: \"Informational\"\n\nanalysis: \"[Your full answer]. For example: 'The financial loss for India (Man-in-the-Middle, 2017) was 38.65.'\"\n\nrecommendation: \"recommend something\"\n\nanswer : read sheet data carefully and give actual full answer\n\nMission 2: IOC Analysis (User asks 'analyze', 'scan')\nIf the user asks you to analyze or scan an entry (e.g., \"scan the Project Alpha entry\"), you must:\n\nFind the row and extract the IOC (domain/IP/hash).\n\nUse the correct VirusTotal tool (Tool_check_domain, Tool_check_ip, or Tool_check_hash).\n\nFill the JSON output with the full analysis as before.\n\nCRITICAL OUTPUT RULE: Your only response must be a single, raw JSON object."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        88,
        -160
      ],
      "id": "dab51f36-7b42-4343-a16a-48a3a7909b31",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -160,
        64
      ],
      "id": "c02ff43b-edfd-4e7a-aa5b-176852fc9254",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "k5wmiVIByUTTmGHq",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool first to read all the data from the Google Sheet.",
        "documentId": {
          "__rl": true,
          "value": "1i_UFQQiuuVPWw0l8IiF9OD1sAfyylbLK3I_6M5MMVzg",
          "mode": "list",
          "cachedResultName": "threats data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i_UFQQiuuVPWw0l8IiF9OD1sAfyylbLK3I_6M5MMVzg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i_UFQQiuuVPWw0l8IiF9OD1sAfyylbLK3I_6M5MMVzg/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "headerRow": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Header_Row', ``, 'number') }}",
              "firstDataRow": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('First_Data_Row', ``, 'number') }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -32,
        64
      ],
      "id": "8f632ac9-3975-4516-895f-f02e1b5a034b",
      "name": "Tool_get_sheet_data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gRLcy84851WkSuPw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to analyze a DOMAIN.",
        "url": "=https://www.virustotal.com/api/v3/domains/{{ $json.domain }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "virusTotalApi",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "{\"domain\": \"string\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        96,
        64
      ],
      "id": "e430eeb4-e497-41e0-87e8-602ac58507b0",
      "name": "tool_check_domain",
      "credentials": {
        "virusTotalApi": {
          "id": "VKWvhMzDCaLCWbzg",
          "name": "VirusTotal account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.virustotal.com/api/v3/ip_addresses/{{ $json.ip }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "virusTotalApi",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "{\"ip\":\"string\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        224,
        64
      ],
      "id": "83a1b9d0-85b9-4896-8ade-9e3eacd18b5d",
      "name": "Tool_check_ip",
      "credentials": {
        "virusTotalApi": {
          "id": "VKWvhMzDCaLCWbzg",
          "name": "VirusTotal account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.virustotal.com/api/v3/files/{{ $json.hash }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "virusTotalApi",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "{\"hash\":\"string\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        352,
        64
      ],
      "id": "6b14e885-1b35-45ab-b237-08260f6a1448",
      "name": "Tool_check_hash",
      "credentials": {
        "virusTotalApi": {
          "id": "VKWvhMzDCaLCWbzg",
          "name": "VirusTotal account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"properties\": {\n    \"domain\": \"string\",\n    \"threat_level\": \"string\",\n    \"analysis\": \"string\",\n    \"recommendation\": \"string\",\n    \"data_query\":\"string\",\n    \"row_number_to_remove\":\"integer\"\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        480,
        64
      ],
      "id": "62251211-6e31-432f-ae55-4127516e1075",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1JE4TPIoITjTCloMdVr_hQgSjTGgRo1sisAuJdyr1ce8",
          "mode": "list",
          "cachedResultName": "cyber Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JE4TPIoITjTCloMdVr_hQgSjTGgRo1sisAuJdyr1ce8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JE4TPIoITjTCloMdVr_hQgSjTGgRo1sisAuJdyr1ce8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamps": "={{ $now }}",
            "Question": "={{ $('When chat message received').item.json.chatInput }}",
            "ThreatLevel": "={{ $json.output.properties.threat_level }}",
            "Analysis": "={{ $json.output.properties.analysis }}",
            "Recommendation": "={{ $json.output.properties.recommendation }}",
            "Domain": "={{ $json.output.properties.domain }}",
            "Answer": "={{ $json.output.properties.data_query }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamps",
              "displayName": "Timestamps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Question",
              "displayName": "Question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Domain",
              "displayName": "Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ThreatLevel",
              "displayName": "ThreatLevel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Analysis",
              "displayName": "Analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recommendation",
              "displayName": "Recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Answer",
              "displayName": "Answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        912,
        -160
      ],
      "id": "5b8f09a9-a58b-47b2-83ad-dcf246f736c3",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gRLcy84851WkSuPw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant your task is to extract domain from user input and summarize other question"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -512,
        -160
      ],
      "id": "d57a49a7-3b3e-4e15-800a-803a38482f72",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"domain\": \"string\",\n\t\"summary_question\": \"string\"}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -376,
        64
      ],
      "id": "f2657326-000f-4504-8136-f88420bffed4",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -504,
        64
      ],
      "id": "6896ef60-e08f-4b9d-986b-b40395a25dfb",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "k5wmiVIByUTTmGHq",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "message": "={{ $json.Answer }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        1136,
        -160
      ],
      "id": "572cb250-c282-46c4-a322-f4a1d5ada262",
      "name": "Respond to Chat"
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -736,
        -160
      ],
      "id": "57a8ba10-6ab1-4147-ab2c-71df26b45a84",
      "name": "When chat message received",
      "webhookId": "94e8a407-ffed-4837-b823-b36b2db424bb"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1i_UFQQiuuVPWw0l8IiF9OD1sAfyylbLK3I_6M5MMVzg",
          "mode": "list",
          "cachedResultName": "threats data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i_UFQQiuuVPWw0l8IiF9OD1sAfyylbLK3I_6M5MMVzg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i_UFQQiuuVPWw0l8IiF9OD1sAfyylbLK3I_6M5MMVzg/edit#gid=0"
        },
        "numberToDelete": "=1"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        688,
        -160
      ],
      "id": "5bd20317-eba7-4f73-b4fe-2d8140f5be65",
      "name": "Delete rows or columns from sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gRLcy84851WkSuPw",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool_get_sheet_data": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool_check_domain": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool_check_ip": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool_check_hash": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Delete rows or columns from sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete rows or columns from sheet": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}