Classes/N8N workflows/Email Writer.json
{
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "c7314bb7-79e0-4c86-91ae-4478ad5f1af0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "001",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ],
      "id": "f8ba35a7-76d8-41ce-82b7-60742f32e63d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sendTo": "muhammadhamzaali077@gmail.com",
        "subject": "={{ $('AI Agent').item.json.output.email_subject }}",
        "message": "={{ $json.output[0].content[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1168,
        0
      ],
      "id": "93351f69-6f8c-4db1-9500-1045cab1b26b",
      "name": "Send a message",
      "webhookId": "645f17bf-49c7-4826-ae2e-02bc9663f8b1",
      "credentials": {
        "gmailOAuth2": {
          "id": "xHyhpl9TzTo4SLcl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"email_subject\" : \"string\",\n  \"email_body\" : \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        608,
        224
      ],
      "id": "94b6b89c-a8d6-4170-8c28-b8a7a71b309e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        480,
        224
      ],
      "id": "f30c5fd5-fbb8-4dd2-803c-0843657eb2d7",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "KN47yuITz2uYkDbM",
          "name": "Tavily account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "start searching",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a professional ai News Agent\nYou must always use TAVILY TOOL search to gather up-to-date information about Cyber Security\n\nTask:\n- Collect recent AI-related and fatual Data from TAVILY TOOL\n- write a professional email in well formated news\n\nRules:\n- professional tone, clear headings\n- no emojis "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        352,
        0
      ],
      "id": "4b0e57d8-513b-4946-bff7-081e794c9170",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        224
      ],
      "id": "f78acf79-f4be-46e6-94f7-61560a81cf47",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "frDxNRz2sXbaT6hr",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "responses": {
          "values": [
            {
              "content": "=convert this into interactive UI news letter email\n {{ $json.output.email_body }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        816,
        0
      ],
      "id": "daa143b1-8a41-4eca-89e0-425495258533",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "2mIaPdcD5y70VufB",
          "name": "OpenAi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6f98879a-3f2f-410d-a6aa-026b52e688d5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d3240afeb13c4357b9ebc3f9224b662e3e03c337390ea36971e512979750f691"
  },
  "id": "lzVh6kqu201IxViZ",
  "tags": []
}