Classes/N8N workflows/Phishing Email Analyzer And Responser.json
{
  "name": "My workflow 8",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Email From :  {{ $json.From }}\nSubject : {{ $json.Subject }}\nContent : {{ $json.snippet }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a professional email security and response agent. Analyze each incoming email and determine whether it is phishing or lagitimate by checking the sender, subject, tone, links, urgency and requests for sensitive information. if the email is phishing return only a clear alert message explaining why, including sender, subject, email body. if email is legitimate return only a concise polite and professional reply addressing the sender's requests without inenting facts or commitments. Do not include analysis, labels, emojis in reply. All legitimate reply end with:\nbest regards \nMuhammad Hamza\nOutput:\nemail_subject : subject of email\nemail_body : alert or reply\nis_phishing : True or False\nreason : explain you decision\nsender_email : sender email address"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "fb16918e-f6c3-463d-9917-f0cad72699ce",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        288,
        208
      ],
      "id": "ecd64c42-1a64-46f7-a1ce-2261b6869557",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "2mIaPdcD5y70VufB",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"email_subject\" : \"string\",\n  \"email_body\" : \"string\",\n  \"is_phishing\" : \"True or False\",\n  \"reason\" : \"string\",\n  \"sender_email\" : \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        592,
        208
      ],
      "id": "e29e489a-06ca-4c6f-91f0-b55ab02dba5a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "60182ea5-390e-48a7-b445-950e347e1549",
              "leftValue": "={{ $json.output.is_phishing }}",
              "rightValue": "True",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        768,
        0
      ],
      "id": "82350ea9-dcf7-4fe0-ba09-b63f6e59b52e",
      "name": "If"
    },
    {
      "parameters": {
        "fromEmail": "muhammadhamzaali077@gmail.com",
        "toEmail": "={{ $json.output.sender_email }}",
        "subject": "={{ $json.output.email_subject }}",
        "emailFormat": "text",
        "text": "={{ $json.output.email_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        976,
        96
      ],
      "id": "1267f633-01ad-427f-9cb0-ed94eca14339",
      "name": "Send email",
      "webhookId": "9291f32b-282a-4f0e-99d1-64246efd4250",
      "credentials": {
        "smtp": {
          "id": "tTPj9Lra155EZEEV",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "dd7e3f86-c679-4287-8af0-e7f0910db840",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "xHyhpl9TzTo4SLcl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=muhammadhamzaali077@gmail.com",
        "subject": "={{ $json.output.email_subject }}",
        "emailType": "text",
        "message": "={{ $json.output.email_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        976,
        -48
      ],
      "id": "8147ba50-ad26-476e-898c-a621b4971b07",
      "name": "Send a message",
      "webhookId": "ca886dd6-eff1-49ee-a26b-f0db91374fdf",
      "credentials": {
        "gmailOAuth2": {
          "id": "xHyhpl9TzTo4SLcl",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eb443401-4157-459b-9c4f-5f07ae2a6aa4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d3240afeb13c4357b9ebc3f9224b662e3e03c337390ea36971e512979750f691"
  },
  "id": "Q6tUIDF5DPVKH28j",
  "tags": []
}