Classes/N8N workflows/Phishing Detector from Sheet.json
{
  "name": "My workflow 6",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        256
      ],
      "id": "6e0379f1-c93f-4ea2-8021-778849f774ec",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nOide9PTpJFDhQUVPHv0qUqRdNXOe5vNU_XhBw-yo_Y",
          "mode": "list",
          "cachedResultName": "phishing data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nOide9PTpJFDhQUVPHv0qUqRdNXOe5vNU_XhBw-yo_Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1685626232,
          "mode": "list",
          "cachedResultName": "emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nOide9PTpJFDhQUVPHv0qUqRdNXOe5vNU_XhBw-yo_Y/edit#gid=1685626232"
        },
        "combineFilters": "OR",
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        256
      ],
      "id": "6bc682ee-4c89-4b0c-bf65-ec94b03cf555",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ieM5v3uPmnI7KTUb",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Email Content'] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a security agent. Your task is to analyze any user-provide text and classify it as either \"Phishing\" or \"legitimate\". You always reply in only exact format: [status] , [Score], [Reason] a short single line explaining the decision. \nExample : \nPhishing, 94, Contains a suspicious URL \nThe output Must strictly follow this structure no extra text no explanation"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        896,
        256
      ],
      "id": "4d21d73c-4d49-4c98-97fb-e7d76cc7539c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        912,
        480
      ],
      "id": "f6edc4b2-368c-4810-a2c8-12655f02785d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "2mIaPdcD5y70VufB",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1nOide9PTpJFDhQUVPHv0qUqRdNXOe5vNU_XhBw-yo_Y",
          "mode": "list",
          "cachedResultName": "phishing data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nOide9PTpJFDhQUVPHv0qUqRdNXOe5vNU_XhBw-yo_Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1685626232,
          "mode": "list",
          "cachedResultName": "emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nOide9PTpJFDhQUVPHv0qUqRdNXOe5vNU_XhBw-yo_Y/edit#gid=1685626232"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "AI Prediction": "={{ $json.output.prediction_status }}",
            "Confidence Score": "={{ $json.output.score }}",
            "Reason": "={{ $json.output.reason }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Email Content",
              "displayName": "Email Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actual Label",
              "displayName": "Actual Label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Prediction",
              "displayName": "AI Prediction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Confidence Score",
              "displayName": "Confidence Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Match?",
              "displayName": "Match?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        256
      ],
      "id": "ba85215c-b74c-4be7-b029-ba6408345334",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ieM5v3uPmnI7KTUb",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"prediction_status\" : \"Phishing or Legitimate\",\n  \"score\" : 50,\n  \"reason\" : \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1040,
        480
      ],
      "id": "82b02825-262c-4f05-b8f7-b426a895944f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        256
      ],
      "id": "0fc498cc-6cf1-4710-a261-99bd727990fc",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        672,
        256
      ],
      "id": "b5936e74-e660-4980-a279-5c537a8be435"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eb6a9bcd-09b0-4c64-96a4-f76c56a40555",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d3240afeb13c4357b9ebc3f9224b662e3e03c337390ea36971e512979750f691"
  },
  "id": "H8lungSSdwI6NcG8",
  "tags": []
}